$footer-text-color: #ffffff;

footer {
  background-color: $usgs-blue;
  background-clip: padding-box;
  padding: 1em;

  .usgs-footer-container {
    @include grid-container($theme-site-max-width);
  }

  .usgs-footer-nav {
    background-color: $usgs-blue;
    padding: 1em 0 .5em 0;
    color: $footer-text-color;

    &:first-of-type {
      border-bottom: solid 1px $footer-text-color;
      padding-top: 0;
    }
  }

  .usgs-footer-link {
    display: inline;
    padding-left: .5em;
    padding-right: .5em;
    color: $footer-text-color;
    text-decoration: none;

    &:visited {
      color: $footer-text-color;
    }
  }
}
