$header-link-color: #ffffff;

.usgs-header {
  background-color: $usgs-blue;

  .usa-banner-header {
    @include u-padding-y(0.5);
    min-height: 0;
  }

  .usgs-banner-container {
    @include grid-container($theme-site-max-width);

    a {
      color: $header-link-color;
      text-decoration: none;
      display: inline-block;
    }

    .usgs-logo {
      display: inline-block;

      .usa-logo-text {
        width: 100%;
      }

      img {
        vertical-align: bottom;
        height: 2.75em;
        margin: .5em 0;
        @include at-media('mobile') {
          height: 3.1875em;
          margin: 1em 0;
        }
        @include at-media('tablet') {
          height: 3.625em;
        }
        @include at-media('desktop') {
          height: 4.0625em;
        }
      }
    }
  }
}

.usgs-menu-header {
  border-bottom: solid 1px color('base-lightest');
  .usa-navbar {
    width: 100%;
    .usa-logo {
      @include at-media($theme-navigation-width) {
        margin-top: units(1);
        margin-bottom: units(1);
      }
    }
  }
}

.usa-header {
  + .usa-section,
  + main {
    @include at-media($theme-navigation-width) {
      border-top: none;
    }
  }
}

#skip {
  a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
