$header-link-color: #ffffff;

.usgs-header {
  background-color: $usgs-blue;

  .usa-banner {
    .usa-accordion {
      width: units('desktop');
    }
    .usa-banner-content {
      @include grid-container('desktop');
    }
  }

  .usgs-banner-container {
    @include grid-container($theme-site-max-width);

    a {
      color: $header-link-color;
      text-decoration: none;
      display: inline-block;
    }

    .usgs-logo {
      display: inline-block;

      img {
        vertical-align: bottom;
        height: 2.75em;
        margin: .5em 0;
        @include at-media('mobile') {
          height: 3.1875em;
          margin: 1em 0;
        }
        @include at-media('tablet') {
          height: 3.625em;
        }
        @include at-media('desktop') {
          height: 4.0625em;
        }
      }
    }

    .usgs-header-links-container {
      font-size: $theme-small-font-size;
      @include at-media('mobile') {
        #usgs-home-link {
          font-size: 0;
        }
      }
      @include at-media('mobile') {
        //font-size: $theme-base-font-size
      }
      display: inline-block;
      float: right;

      ul {
        @include unstyled-list();
      }
    }
  }
}

#skip {

  a {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }

  a:focus {
    position: static;
    width: auto;
    height: auto;
  }
}
