
.usgs-header {
  // Set the header bar color to official USGS blue
  background-color: $usgs-blue;
  // Put the header bar in a container and control the width of that container so that it will not stretch the whole width of the page
  //.usgs-header-container {
  //  @include grid-container;
  //}

  // For the section immediately after the header, have no top border.
  + main {
    @include at-media('desktop') {
      border-top: none;
    }
  }

  // Position and size the USGS logo
  .usa-logo {
    @include at-media('desktop') {
      margin-top: units(1);
      margin-bottom: units(1);
      font-size: font-size($theme-header-font-family, 'sm') !important;
      line-height: line-height($theme-header-font-family, 2);
    }

    // Size the USGS logo for different screen sizes
    img {
      vertical-align: bottom;
      height: 2.75em;
      padding: .5em 1em .5em 0;
      @include at-media('mobile') {
        height: 3.1875em;
      }
      @include at-media('tablet') {
        height: 3.625em;
      }
      @include at-media('desktop') {
        height: 4.0625em;
      }
    }
  }

  // Set the background color of the navigational links bar
  .usa-nav {
    background-color: color('gray-5');
  }
  // Style the secondary links (the links above the search bar when viewed at desktop widths)
  .usa-nav__secondary-links {
    a {
      // Make the secondary links blue when they are compressed down it to the menu
      // button (since the background there is different the when the application is at desktop dimensions)
      color: color('blue-50');
      // Make the secondary links white at desktop resolution, so they show up against the blue header
      @include at-media('desktop') {
        color: color('white');
      }

      &:hover {
        color: color('primary-lighter');
        text-decoration: underline;
      }
    }
  }
}

