@import './theme';
@import '../../node_modules/uswds/src/stylesheets/uswds';

$usgs-blue: #00264c;

@import './partials/header';
@import './partials/footer';


main {
  @include grid-container($theme-site-max-width);
  margin: 1em auto;
  padding: 0 1em;
}
