@import './theme';
@import 'uswds';

$usgs-blue: #00264c;

@import './partials/header';
@import './partials/footer';


main {
  @include grid-container($theme-site-max-width);
  margin: 1em auto;
  padding: 0 1em;
}

.usgs-content {
  max-width: units($theme-site-max-width);
  margin-left: auto;
  margin-right: auto;
}
