<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
        <script src="uswds-init.min.js"></script>
        <link rel="stylesheet" href="wdfnviz.css">
        <title>Test Page - USGS Water Data For The Nation</title>
    </head>
    <body>
        <script async src="wdfnviz.js"></script>
        {% macro url_for(path) %}{{ path }}{% endmacro %}
        {% include "templates/header.html" %}
        <main>
            <p>This is a test of the USGS Water Data For The Nation visual identity system.</p>
        </main>
        {% include "templates/footer.html" %}
    </body>
</html>
